<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant catalogue for you">
    <meta name="theme-color" content="#DB0000"/>
    <title>Restaurant Apps</title>
    
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- icon  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="./favicon.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/restaurant-192x192.png">
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip to Content</a>
    <loading-app></loading-app>
    <header id="headercontent">
      <nav class="navbar">
        <div class="title">
          <a href="">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <h1>Gourmet Glide</h1>
          </a>
        </div>
        <div class="hamburger-button">
          <button id="hamburger">☰</button>
        </div>
        <ul class="ul-list">
          <li>
            <a href="#/home">Home</a>
          </li>
          <li>
            <a href="#/favorite">Favorite</a>
          </li>
          <li>
            <a href="https://github.com/rezavradana">About Us</a>
          </li>
        </ul>
      </nav>

      <div class="jumbotron">
          <div class="cover"></div>          
          <div class="hero-text">
            <h1>Elevate Your Dining Experience with French Delicacies</h1>
            <button>View Our Menu</button>
          </div>
          <img src="images/heros/hero-image_4.jpg" alt="Hero Image">
      </div>
    </header>
    
    <main id="maincontent" tabindex="-1">      
      <explore-restaurant class="explore-restaurant"></explore-restaurant>

      <our-kitchen class="our-kitchen"></our-kitchen>

      <popular-dish class="popular-dish"></popular-dish>
    </main>

    <footer>
      <div class="title">
        <a href="">
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          <h1>Gourmet Glide</h1>
        </a>
      </div>
      <div class="social-media">
        <a href="https://www.instagram.com/">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/">          
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/">
          <i class="fa fa-youtube-play"></i>
        </a>
      </div>
      <div class="copyright">
        <p>Copyright &copy; 2024, Gourmet Glide All Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>
